<div class="container">
  <div class='row'>
    <div class="col-md-10 px-5 px-sm-0 mx-auto mt-4">

  <h1>顧客のマイページ</h1>

  <div class="row mt-5">
    <div class="col-md-2 h4">
      <strong>登録情報</strong>
    </div>
    <div class="col-md-2">
      <%= link_to "編集する", edit_path(current_customer.id), class: 'btn btn-success mb-3' %>
    </div>
  </div>

   <table class="table table-bordered">
  <tbody>
    <tr>
      <td class="table-active">氏名</td>
      <td><%= current_customer.first_name %>&nbsp;<%= current_customer.last_name %></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= current_customer.first_name_kana %>&nbsp;<%= current_customer.last_name_kana %></td>
    </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <td class="table-active">住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
  </tbody>
</table>


  <div class="row mt-5">
    <div class="col-md-2 h4">
      <strong>配送先</strong>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", addresses_path(current_customer.id), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-2 h4">
      <strong>注文履歴</strong>
    </div>
    <div class="col-md-2">
     <%= link_to "一覧を見る", orders_path(current_customer.id), class: 'btn btn-primary' %>
    </div>
    </div>
    </div>
  </div>

