<div class="container">
    <div class="col-md-10 px-5 px-sm-0 mx-auto mt-4">
    <h1>注文詳細画面(ステータス編集を兼ねる)</h1>
    </div>

    <div class="col-md-2 h5 mt-5">
      <strong>購入者</strong>
      <%= @order.name %>
    </div>

    <div class="form-check mt-4">
      <strong>注文日</strong>
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>

    <div class="form-check mt-4">
      <strong>配送先</strong>
      <%= '〒' + @order.postal_code.to_s %><br>
      <%= @order.address %><br>
      <%= @order.name %>
    </div>

    <div class="form-check mt-4">
      <strong>支払方法</strong>
      <%= @order.payment_method_i18n %>
    </div>

    <div class="form-check mt-4">
      <strong>ステータス</strong>
         <%#= form_with model: [:admin, @form_inquiry], method: :patch, local: true do |f| %>
     <%#= f.select :response_status, FormInquiry.response_statuses.keys.map {|k| [I18n.t("enums.form_inquiry.response_status.#{k}"), k]} %>

      <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新" , class: "btn btn-outline-success" %>
      <% end %>
    </div>

    <div class="row">
      <table class='table table-hover  table-bordered'>
        <thead>
          <tr class="table-secondary table">
            <th class="col-4">商品名</th>
            <th class="col-2">単価（税込）</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
            <th class="col-4">制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal.to_s(:delimited, delimiter: ',') %></td>
              <% @total +=  order_detail.subtotal %>
              <td>
                <%= form_with model: order_detail, url: admin_order_order_detail_path(order_id: @order.id, id: order_detail.id), method: :patch do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
                  <%= f.submit "更新" , class: "btn btn-outline-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class="row">
    <strong class="table-secondary">商品合計</strong>
    <%= @total.to_s(:delimited, delimiter: ',') %>

    <strong class="table-secondary">送料</strong>
    <%= @order.shipping_cost %>

    <strong class="table-secondary">請求金額</strong>
    <% @total_payment = @total + @order.shipping_cost.to_i %>
    <%= @total_payment.to_s(:delimited, delimiter: ',') %>
    </div>
</div>