<div class="container">

  <div class="h5 col-3 p-3 m-3 bg-light text-center">ジャンル一覧・追加</div>

  <div class="row my-3">
    <div class="col my-3">
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <strong>ジャンル名</strong>
        <%= f.text_field :name%>
　      <%= f.submit '新規登録' , class: 'btn btn-success'  %>
      <% end %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-4 my-3">

      <table class="table">

        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>

        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <%= link_to edit_admin_genre_path(genre.id) do %>
               <div class='edit_btn btn btn-success'>編集する</div>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>

      </table>

    </div>

  </div>

</div>
