<h1>配送先登録/一覧</h1>

<%= f.radio_button :address_number, 3 %>
<%= f.label :address_number_3, "新しいお届け先" %>
<%= f.label :postal_code, '郵便番号' %>
<%= f.text_field :postal_code, autofocus: true %>
<%= f.label :address, "住所" %>
<%= f.text_field :address %>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<!-- 選んでもらったデータを送ります -->
<%= f.submit "確認画面へ進む" %>