<table class='table table-hover  table-bordered'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
　　　<th>小計</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.item_name %></td>
        <td><%= cart_item.item.with_tax_price %></td>　
        <td>
          <%= form_with model: cart_item, local:true do |f| %>
            <div class="form-group">
              <%= f.hidden_field :item_id, value: item.id %>  <!--cart.itemに今回のページのitemのidを代入したい-->
            </div>
            <div class="form-group">
              <%= f.select :amount, *[1..9],  include_blank: '個数選択', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit "変更", class: 'btn btn-success' %>
            </div>
          <% end %>
        </td> <!--　数量をカート内でも変更できるようにしたい、 item: cart_item.item も必要？　-->
        <td><%= cart_item.subtotal %></td>
        <td><%= link_to '削除する', cart_item_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        <% @total +=  cart_item.subtotal %>
      </tr>
    <% end %>
  </tbody>
</table>
