<div class='container'>
  <div class='row'>
    <div class="bg-secondary bg-opacity-10">
      <h1>注文履歴画面</h1>
    </div>

<<<<<<< HEAD
      <table class='table table-hover table-bordered '>
        <thead>
          <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
      　　　<th>支払金額</th>
      　　　<th>ステータス</th>
      　　　<th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td><%= order.cart_item.item %></td>
              <td><%= order.total_payment %></td>
              <td><%= order.status %></td>
              <td><%= link_to "表示する", class: "btn btn-primary" %>
            <tr>
=======
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
　　　<th>支払金額</th>
　　　<th>ステータス</th>
　　　<th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.addressitem.with_tax_price %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>





 <td>
          <%= form_with model: cart_item, local:true do |f| %>
            <div class="form-group">
              <%= f.hidden_field :item_id, value: item.id %>  <!--cart.itemに今回のページのitemのidを代入したい-->
            </div>
            <div class="form-group">
              <%= f.select :amount, *[1..9],  include_blank: '個数選択', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit "変更", class: 'btn btn-success' %>
            </div>
>>>>>>> origin/develop
          <% end %>
        </tbody>
      </table>
  </div>
</div>