<div class="container">
    <div class="row pt-5">

      <%= render 'public/homes/genre_search', genres: @genres %>

      <div class="col ml-4">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x300" %>
        <% else %>
          <%= image_tag 'noimage_icon', size: "300x300" %>
        <% end %>
      </div>

      <div class="col">
        <h2 class="my-3"><strong><%= @item.name %></strong></h2>
        <h4 class="mb-5"><%= @item.introduction %></h4>
        <h4 class="mt-5"><strong>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</strong></h4>

      </div>

    </div>

  </div>
